<div class="container">
  <div class="row mt-4 justify-content-center">
    <div class="col-auto align-self-center text-center">
      Please upload your 'ChainedCurl' configs
    </div>
  </div>
  <div class="row mt-4 justify-content-center">
    <div class="col-auto align-self-center text-center">
      <input type="file" class="file-upload" (change)="onFileSelected($event)">
    </div>
  </div>
  @if ((chainedCurlDto$ | async) != null) {
  <div class="row mt-4">
    <div class="col">
      <!-- <div class="example-action-buttons">
        <button mat-button (click)="accordion().openAll()">Expand All</button>
        <button mat-button (click)="accordion().closeAll()">Collapse All</button>
      </div> -->
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Initial data </mat-panel-title>
            <mat-panel-description>
              See initial data
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row row-cols-3 p-2 h5" style="background-color: antiquewhite;">
            <div class="col-12">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">Fixes</li>
                </ol>
              </nav>
            </div>

            @for (item of (chainedCurlDto$ | async).initialValues.fixes | keyvalue; track item;) {
            <div class="col">
              <mat-form-field>
                <mat-label>{{item.key}}</mat-label>
                <input matInput [value]="item.value" disabled="true" />
              </mat-form-field>
            </div>
            }
          </div>

          <div class="row row-cols-3 mt-2 p-2" style="background-color: #bcdddd;">
            <div class="col-12">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active h5" aria-current="page">suppliers</li>
                </ol>
              </nav>
            </div>

            @for (item of ((chainedCurlDto$ | async).initialValues.suppliers | keyvalue); track item;) {
            <div class="col">
              <mat-form-field>
                <mat-label>{{item.key}}</mat-label>
                <input matInput [value]="item.value" disabled="true" />
              </mat-form-field>
            </div>
            }
          </div>
        </mat-expansion-panel>

        <!-- steps -->
        @for (item of (chainedCurlDto$ | async).chainedCurlDto.chain | keyvalue: asIsOrder; track item; let idx =
        $index) {
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Step {{idx + 1}} </mat-panel-title>
            <mat-panel-description>
              {{item.key}}
              <mat-icon>map</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          @if (item.value.provide && item.value.provide.supplier && chainedCurlDto.contextMap &&
          chainedCurlDto.contextMap[item.key] && chainedCurlDto.contextMap[item.key].suppliers) {
          @for (im of chainedCurlDto.contextMap[item.key].suppliers | keyvalue; track im;) {
          <div class="col">
            <mat-form-field>
              <mat-label>{{im.key}}</mat-label>
              <input matInput [value]="im.value" disabled="true" />
            </mat-form-field>
          </div>
          }
          }


          @if (item.value.provide && item.value.provide.fix && chainedCurlDto.contextMap &&
          chainedCurlDto.contextMap[item.key] && chainedCurlDto.contextMap[item.key].fixes) {
          <!-- <p>{{stringify3(chainedCurlDto.contextMap[item.key].fixes)}}</p> -->
          @for (im of chainedCurlDto.contextMap[item.key].fixes | keyvalue; track im;) {
          <div class="col">
            <mat-form-field>
              <mat-label>{{im.key}}</mat-label>
              <input matInput [value]="im.value" disabled="true" />
            </mat-form-field>
          </div>
          }
          }

          @if (item.value.provide && item.value.provide.input) {
          <form class="row row-cols-3" [formGroup]="getFormGroup(item.key)">
            @for (inp of item.value.provide.input | keyvalue; track inp; let jdx = $index) {
            <div class="col">
              <mat-form-field>
                <mat-label>{{inp.key}}</mat-label>
                @switch (inp.value['type']) {
                @case ('text') {
                <input matInput [type]="'text'" formControlName="{{inp.key}}" />
                }
                }
              </mat-form-field>
            </div>
            }
          </form>
          }

          <div class="col-12">
            <button class="btn btn-primary" (click)="submitForm(item.key)">Submit</button>
          </div>

          @if ((chainedCurlResponseMapChanged$ | async) && (chainedCurlResponseMap$ | async).get(item.key)) {
          <div class="col-12 mt-2">
            <label for="{{item.key}}-curl" class="form-label">CURL</label>
            <textarea id="{{item.key}}-curl" class="form-control" type="text" rows="8" disabled="true">
                    {{(chainedCurlResponseMap$ | async).get(item.key).curlRequest}}
                  </textarea>
            <label for="{{item.key}}-status" class="form-label">Response Status</label>
            <input id="{{item.key}}-status" class="form-control" type="text" disabled="true"
              value="{{(chainedCurlResponseMap$ | async).get(item.key).status}}" />
            <label for="{{item.key}}-body" class="form-label mt-1">Response Body</label>
            <textarea class="form-control" id="{{item.key}}-body" rows="10" disabled="true">
                    {{stringify((chainedCurlResponseMap$ | async).get(item.key).bodyAsString)}}
                  </textarea>
          </div>

          @if ((chainedCurlResponseMap$ | async).get(item.key).showControls) {
            @for (ctrlMap of (chainedCurlResponseMap$ | async).get(item.key).showControls | keyvalue; track ctrlMap; let jdx = $index) {
              <div class="col">
                @if (ctrlMap.value.hasOwnProperty('type') && ctrlMap.value['type'] === 'image') {
                  <img src="{{ctrlMap.value['src']}}" width="{{ctrlMap.value['width']}}" height="{{ctrlMap.value['height']}}" class="img-thumbnail"/>
                }
              </div>
            }
          }
        }

        </mat-expansion-panel>
        }
      </mat-accordion>
    </div>
  </div>
  }
</div>


<div class="container mt-3">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
    </ul>
  </footer>
</div>